<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button Page</title>
  <link rel="stylesheet" href="css/redirectstyle.css">
</head>
<body>

<div class="button-container">
  <button class="green-button" onclick="showUserStatus()">User Status</button>
  <button class="green-button" onclick="showFileUpload()">File Upload</button>
</div>

<script>
  function showUserStatus() {
    //alert('User Status button clicked!');
    window.location.href="/userstatus"
    
  }

  function showFileUpload() {
    //alert('File Upload button clicked!');
    window.location.href="/adminupload"

  }
</script>

</body>
</html>
