<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send Data to Node.js</title>
  <link rel="stylesheet" href="css/userstatus.css">
  <style>
    .content {
      display: none;
    }
  </style>
</head>
<body>
  <h1>User Status:</h1>
  <button id="button1">Sort by Most user purchased products</button>
  <button id="button2">Sort by Most type of products an user purchased</button>
  <div id="content1" class="content">
    <h3>Usernames List:</h3>
    <ul id="userList1"></ul>
  </div>

  <div id="content2" class="content">
    <h3>Usernames List:</h3>
    <ul id="userList2"></ul>
  </div>

  <script src="js/userstatus.js"></script>
</body>
</html>
