body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f8f8f8;
}

p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.buttons-container {
  text-align: center;
  margin-bottom: 20px;
}

.filter-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #45a049;
}

.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Updated to start from left */
}

.product {
  width: calc(33.33% - 40px); /* Set the width for three products in a row */
  margin: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.productid, .productname, .productprice, .productcount {
  font-size: 16px;
  margin-bottom: 10px;
}

.view-details-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-details-button:hover {
  background-color: #45a049;
}
