body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .form-container {
    display: flex;
  }
  
  .form {
    padding: 20px;
    width: 300px;
    display: none;
  }
  
  .active-form {
    display: block;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #20afe3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: rgb(39, 116, 175);
  }
  
  .toggle-form {
    text-align: center;
    margin-top: 15px;
  }
  
  .toggle-form a {
    color: rgb(35, 189, 32);
    text-decoration: none;
    cursor: pointer;
  }
  